{% extends 'base.html' %}
{% set active = "Welcome" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}


<h1>{{ title }}</h1>

<!-- <div class="bg-image"
     style="background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp'); height: 100vh;">
</div> -->
<!-- <div class="col-md-6 col-lg-5 d-none d-md-block">
    <img src="/static/img/welcome.png" class="welcome justify-content-center" style="border-radius: 1rem 1rem 1rem 1rem;" />
</div> -->


<div class="col-md-12 col-lg-12 d-none d-md-block big-banner">
    <div class="row mt-5 py-5">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-8">
        <div id="welcometext" class="p-5">
            <h1 class="display-4">Drexelpedia</h1>
            <p class="lead px-0">Welcome to Drexel Social Community! Discover, read and write articles and stay up-to-date with the Drexel Community. Immerse yourself and unleash your creative potential.</p>
            <a href="/" class="btn btn-primary custom-read">Read Articles</a>
          </div>
      </div>
  </div>
</div> 

<script>
    $("body").css({"background-color": "white"});
</script>

<!-- <section class="jumbotron big-banner" style="height: 100%; width: 100%;">
    <div style = "width:50px; height: 100%;"> -->
        <!-- <div class="row mt-5 py-5">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-4">
              <div class="p-5 mt-5">
                  <h1 class="display-4" style="color:white">Drexelpedia</h1>
                  <p class="lead px-0">Welcome to Drexel Social Community! Discover, read and write articles and stay up-to-date with the Drexel Community. Immerse yourself and unleash your creative potential.</p>
                  <a href="/recent" class="btn btn-primary custom-read">Read Articles</a>
                </div>
            </div>
        </div> -->
        
       
            
        <!-- <h1 h1 style="color:white">Drexelpedia</h1>
           
        <p style="text-align: justify;font-size:20px; padding: 0px; width:400px;" class="text-white"> Welcome to Drexel Social Community! Discover, read and write articles and stay up-to-date with the Drexel Community. Immerse yourself and unleash your creative potential.</p>
        
        <p style="text-align:justify;"><a href="/recent" class="btn btn-primary custom-read ">Read Articles</a></p>    
    </div>    -->
</section>


{% endblock %}